* {
    padding: 0;
    margin: 0;
}
.container {
    box-sizing: border-box;
    width: 375px;
    margin: auto;
    background-color: coral;
}
/* header section */
h1 {
    text-align: center;
    color: beige;
    font-size: 3em;
    margin: 20px;
}
h2 { 
    color: beige;
    margin: 20px;
    font-size: 24px;
  }
.header {
    height: 700px;
    width: 375px;
}
.header .img {
    background-color:  dodgerblue;
    padding: 10px 0;
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-bottom: 10px;
}
.header ul li {
    font-size: larger;
}
.header ul li:hover{
    transform: scale(1.7);
  }
.words {
    display: none;
}

/* about us section */
.about-us {
    height: 400px;
    margin-left: 10px;
}
.about-us ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
 }
 .about-us li {
  margin: 10px;
  font-size: 22px;
 }
 .about-us li:hover {
   color: beige;
   border-top: 1px solid beige;
   border-bottom: 1px solid beige;
 }

/* volunteers section */
#vols {
    height: 1100px;
    border: 1px solid dodgerblue;
}
.vol-pics {
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
    padding: 10px 0;
   } 
.vols ul {
    list-style: none;
    display: flex;
    flex-direction: column;
   }
.vols li {
    font-size: 22px;
    text-align: center;
}
.vols li:hover {
    color: beige;
    border-top: 1px solid beige;
    border-bottom: 1px solid beige;
 }

  /* trips section */
.trips {
 height: 500px;
}
.trips img {
    width: 100%;
  }
.trips ul {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;   
  }
.trips button {
    background-color: beige;
    font-size: .8em;
    border-radius: 20px;
    padding: 2px;
    border: 2px solid brown;
  }

  /* join us section */
 
.join-us {
    background-color: dodgerblue;
    height: 200px;
    line-height: 2.5em;
  }
.join-us ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
.join-us li {
    font-size: 19px; 
  }
.join-us li:hover {
    color: beige;
    border-top: 1px solid beige;
    border-bottom: 1px solid beige;
  }

@media only screen and (min-width: 600px) {
.container {
     width: 600px;
     margin: auto;
   }
.header, .about-us, .vols, .trips, .join-us {
     width: 600px;
   }
.icons {
     display: none;
   }
.words {
     display: block;
   }
.header .img {
   text-align: center;
   }
.about-us {
  padding-top: 15px;
}
.vol-pics img{
  margin: auto;
}
  }

  @media only screen and (min-width: 830px) {
  .container {
    width: 830px;
    margin: auto;
  }
  .header, .about-us, .vols, .trips, .join-us {
    width: 830px;
  }
  .header .img img{
    margin: 50px 0;
    height: 450px;
    width: 400px;
  }
  .about-us {
    height: 300px;
  }
  .vol-pics {
    flex-flow: row wrap;
  }
  .vol-pics img{
    width: 330px;
    height: 330px;
    margin: 10px auto;
  }
  #vols {
   height: 950px;
  }
  }

  @media only screen and (min-width: 1024px) {
    .container {
      width: 1024px;
      margin: auto;
    }
    .header, .about-us, .vols, .trips, .join-us {
      width: 1024px;
    }
    h2 {
      font-size: 26px;
    }
    .header .img img {
      margin: 30px;
    }
    .header ul li {
      font-size: 24px;
    }
    .about-us {
      margin-left: 30px;
    }
    #vols {
      height: 1100px;
    }
    .vol-pics img {
      height: 400px;
      width: 400px;
    }
    .vols li { 
    font-size: 24px;
    }
    .trips button {
      font-size: 1em;
    }
    .join-us li { 
      font-size: 22px;
    }
  }
